<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>

    <h1>Create New Post</h1>

    <form method="post" action="/posts" class="newPost">
        <input type="text" name="username" placeholder="Enter username" class="new-element" required />
        <textarea name="content" placeholder="Write your post" class="new-element" rows="10" cols="35" required></textarea>
        <button type="submit" class="new-element">Submit Post</button>
    </form>

</body>

</html>
